p {
   font-size: 17px;
   margin: 40 0;
}
/*---------------------  games  ------------------------*/

.header h2 {
  font-size:  15px;;
  
  }


.img img {
  height: 300px;
  width:100%;
  border: none !important;

  }



.img ul li {
  display: inline-block;

}
.img ul li h4 {
color: #645B8F;
}

.img ul li span {
  text-decoration: underline;
}
.img ul li.left {
  float: left;
}
.img ul li.rigth {
  float: right;
}





/* ------------------ slider */
.slider-container {

  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
  text-align: center;

}

.slider-container h4 {
  text-align: center;

}

.slider-images {
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  height: 250px;
  /* overflow: hidden; */
}



.slider-images img {
  width: 99%;
  /* height: 75px; */
  height: 54px;
  margin: 5px;
  display: block;
  opacity: 0.5;

}

.active {
  border: 2px solid #6FE2E1;
  opacity:1 !important;
}

@media (max-width: 991px) {
  .slider-container {
    display: flex;
    height: 70px;
  }
 .slider-container h4 {
  display: none;
 }
  .slider-images {
    display: flex;
  }
  .slider-images img {
    display: inline-flex ;
  }

 
  
}


/*-specific table-*/
table {
  font-size: 22px;
}

table.specificTable {
    color: white;
    background-color:#1F193D ;
    padding: 30px;
    border-radius: 5px;
  }
  table.specificTable th {
    padding: 10px;
  }
  table.specificTable td {
    padding: 10px;
  }
  table.specificTable tr:first-child th:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  table.specificTable tr:first-child th:first-child h2 {
    display: inline;
    font-size: 25px;
  }
  table.specificTable tr:first-child th:first-child h2:first-child {
    border-bottom:1px solid #6FE2E1 ;
  
  }
  table.specificTable tr:first-child th:first-child h2:nth-child(2) {
    border-bottom:1px solid #645B8F ;
  
  }
  
  table.specificTable tr td h4 {
    color: #645B8F;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  table.specificTable tr td p {
    margin-top: 0;
    padding-top: 0;
  
    color: white;
    font-size: 20px;
  }





  /*--Side bar table --*/
  table.sidebar tr {
    border-bottom-color: #645B8F;
    font-size: 15px;
    padding: 10px;
  }

  table td {
    padding: 20px;
  }
  table.sidebar tr td:first-child  {
    color: #645B8F;
    text-align: start;
  
  }
  table.sidebar tr td:nth-child(2) {
    color: white;
    text-align: end;
  
  }

  table.sidebar tr td:nth-child(2) i{
  padding: 5px;
  
  }
  table.sidebar .tablebtn:first-child{
    border-bottom: none;
    padding: 5px;

  }
 
  
  table.sidebar .tablebtn .btn {
    color: white !important;
      width: 100%;
      text-align: center;
      border: 1px solid #6FE2E1;
      background-color: #6FE2E1;
      height: 45px;
  }
  
  table.sidebar .tablebtn .btn.socend  {
    background: transparent;
    padding-top: 0;
  }
  

