footer{
  background-color: #1F193D;
}

footer button {
  width: 50px;
  height: 60px;
  background-color: #2a2157;
  box-shadow: 10px 10px 20px black;
  color: white;
  position: fixed;
  border: none;
  border-radius: 20px 5px;
  cursor: pointer;
  top: 90%;
  right: 20px;
  

}

footer button:hover {
  background-color: #382c74;

}

footer p.CR {
  text-align: center;
  white-space: break-spaces;
}

footer a {
  display: block;
  color: #645B8F;
}

footer a:hover {
  color: white;

}


footer img {
  width: 50%;
  padding: 10px;
}
