<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="row">
          <div class="col-12">
            <h1>Store</h1>
            <p>
              <a routerLink="">Discover</a>
              <a routerLink="">Browes</a>
              <a routerLink="">Library</a>
            </p>
          </div>
          <div class="col-12">
            <a routerLink="">Wishlist</a>
            <a routerLink="">Distribution</a>
          </div> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="row">
          <div class="col-12">
            <h1>Categories</h1>
            <p>
            <a routerLink="">Action</a>
            <a routerLink="">Shooter</a>
            <a routerLink="">Adventure</a>
            <a routerLink="">Fighting</a>
            <a href="">Racing</a>
            <a href="">Horror</a>
            <a href="">Party</a>
            <a href="">Sports</a>
            <a href="">Startegy</a> 
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="row">
          <div class="col-12">
            <button (click)="toTop()">   
              <i class='{{arrow}}'></i>
            </button>
          </div>
          <div class="col-12 text-center">
            <img [src]="IM" width="40" alt="cubegame logo">
            
          </div>
          <div class="col-12 text-center">
            <p class="CR">Copyright &copy; 2023 cubegame, 
                  All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
