<app-navigation-one></app-navigation-one>
<app-navigation-two></app-navigation-two>

  <div class="container">
    <h1 class="text-center">My Wishlist</h1>
    <div class="row header-row">
      <div class="col">Product Name</div>
      <div class="col">Price</div>
      <div class="col">Image</div>
    </div>
    <div class="row item-row">
      <div class="col">
        <h4>Item 1</h4>
        <p>Description of Item 1...</p>
      </div>
      <div class="col">
        <p>
          <span class="original-price">$100</span>
          <span class="discount-rate">-20%</span><br>
          <span class="price-after-discount">$80</span>
        </p>
      </div>
      <div class="col">
        <img src="item1.jpg" alt="Item 1" class="img-fluid">
      </div>
    </div>
    <div class="row item-row">
      <div class="col">
        <h4>Item 2</h4>
        <p>Description of Item 2...</p>
      </div>
      <div class="col">
        <p>
          <span class="original-price">$200</span>
          <span class="discount-rate">-30%</span><br>
          <span class="price-after-discount">$140</span>
        </p>
      </div>
      <div class="col">
        <img src="item2.jpg" alt="Item 2" class="img-fluid">
      </div>
    </div>
    <!-- Add more item rows for additional items in the wishlist -->
  </div>


