<section class="gallery">
  <div class="container">
    <div class="img-container">
      <img src="../../assets/img/bg.png" class="mainimg" height="550px" alt="bg" id="preview">
      <div class="img-prev text-center">
        <div class="img-slide active-slide">
          <img src="../../assets/img/bg.png" alt="bg" appMainslider>
        </div>
        <div class="img-slide">
          <img src="../../assets/img/Image 2.png" alt="bg" appMainslider>
        </div>
        <div class="img-slide">
          <img src="../../assets/img/Image 8.png" alt="bg" appMainslider>
        </div>
        <div class="img-slide">
          <img src="../../assets/img/Image 10.png" alt="bg" appMainslider>
        </div>
      </div>
    </div>
  </div>
</section>
