

<form [formGroup]="AddImage" (ngSubmit)="onSubmitdata()">

  <label>Choose Product:</label>
  <select [(ngModel)]="selectedProductId" class="form-control" formControlName="ProductI">
    <option *ngFor="let p of AllProduct"
     [value]="p.productId">{{ p.productName }}</option>
    </select>

    <input type="file" (change)="onFileSelected($event)" required/>

    <img [src]="url" style="width: 250px;height: 200px;">

    <button class="btn btn-login mx-4"
    type="submit"
    [disabled]="AddImage.invalid">Submit</button>
</form>
