
<div class="cardItem">
  <img src={{oneProduct.picture}}  alt="" />

  <div class="details">
    <div class="genrePrice">
      <p class="genreColor">{{oneProduct.categoryName}}</p>
      <p class="price">{{oneProduct.price}}</p>
    </div>

    <div class="nameIcons">
      <p class="gameName">{{oneProduct.productName}}</p>
      <button (click)="addToCart(oneProduct.productId)">
        <span class="cardIcon cart">
          <i class="bi bi-bag-dash"></i></span>
      </button>
      <span class="cardIcon"><i class="bi bi-suit-heart"></i></span>
    </div>
  </div>
</div>
