<!-- <p>navigation-two works!</p> -->
<nav class="navbar bg-second-nav">
  <div class="container">
    <form class="d-flex align-items-center" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-second-nav btn-discover active-btn" type="button">Discover</button>
      <button class="btn btn-second-nav btn-browse" type="button">Browse</button>
      <button class="btn btn-second-nav btn-library" type="button">Library</button>
    </form>
  </div>
</nav>
