/*.img-container
{
  width:100%;
}
.img-container img
{
  width: 100%;
  border-radius: 10px;

}
.img-prev
{
  position: absolute;
  top:400px;
  left: 560px;
}
.img-slide
{
  display: inline-block;
  width: 140px;
  margin: 0 5px;
  cursor: pointer;
  filter: brightness(0.4);
}
.img-slide img
{
  width: 140px;
  height: 190px;
  object-fit:cover;
}
.active-slide img
{
  box-shadow: 0px 1px 5px #B4D9F4;
  height: 220px;
}
.active-slide
{
  filter: brightness(1);
}

*/
