*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}


a {
	color: inherit;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.app{
  display: flex;
}
.app .navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

table th , td{
  color: white;
}
