<app-navigation-one></app-navigation-one> 
 <app-navigation-two></app-navigation-two>
<div class="container">
    <div *ngIf="product ;else flaseBlock" class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-12  header">
                    <h1>{{product.productName}}</h1>
                    <h2>
                        <span class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                        </span> -
                        <span>Challengeing Combat</span>
                    </h2>
                </div>
                <div class="col-12">
                   <div class="row">
                    <div class="col-lg-9  col-sm-12 img">

                        <img id="preview" src={{product.picture}}>
                        <ul>
                            <li class="left"><h4>Geners</h4> <span>{{product.categoryName}}</span></li>
                            <li class="rigth"><h4>Features</h4><Span>Comperitive , Multiplayer</Span></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-12 ">
                        <div class="slider-container">
                            <h4 class="top-arrow">
                                <i class="bi bi-chevron-compact-up rigth" id="top-arrow" appArrowTop></i>
                                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#secondcarouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button> -->

                            </h4>
                            <div class="slider-images" id="slider-images">
                              <img id="FImge" class="img1 active" src="../../assets/img/bg.png" appSlider >
                              <img id="img"  src="../../assets/img/2.png" appSlider>
                              <img id="img1" src="../../assets/img/3.png" appSlider>
                              <img id="img1" src="../../assets/img/4.png" appSlider>
                              <img id="img1" src="../../assets/img/1.png"  appSlider>
                              <!-- <img *ngFor="let i of img" src={{img.imageURL}}> -->

                            </div>
                            <h4 class="down-arrow">
                                <i class="bi bi-chevron-compact-down" id="down-arrow" appArrowbutton></i>
                                <!-- <button class="carousel-control-next" type="button" data-bs-target="#secondcarouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>
                             -->
                            </h4>

                        </div>
                    </div>
                    </div>

                </div>
                <div class="col-12">
                    <p>{{product.description}}</p>
                    <h1>{{product.productName}}</h1>
                    <h4>DEFY THE LIMITS FOR FREE IN VALORANT</h4>
                    <h5>FIGHT AROUND THE WORLD</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam enim nostrum animi iste nemo sequi sint cumque, corrupti necessitatibus neque molestiae deserunt ut praesentium sit quibusdam earum reiciendis cupiditate expedita!</p>
                    <h5>FIGHT AROUND THE WORLD</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam enim nostrum animi iste nemo sequi sint cumque, corrupti necessitatibus neque molestiae deserunt ut praesentium sit quibusdam earum reiciendis cupiditate expedita!</p>
                </div>
            </div>
            <div class="col-12">
                <h1>Specification</h1>
                <table class="table specificTable p-5">
                    <tr>
                        <!-- <th><toggle>Windows</button> <button>MacOS</button></th> -->
                        <th>
                            <!-- <label class="switch">
                                <input type="checkbox"> Windows
                                <span class="slider">MacOS</span>
                            </label> -->
                            <div class="top-select">

                            </div>
                            <div class="form-box">
                                <div class="button-box">
                                <!-- <div id="btn" class="d-flex flex-col" ></div> -->
                                    <button type="button" id="toggle-btn1"  appLeftClick>Windows </button>
                                    <span class="space"> | </span>
                                    <div id="btn" class="d-flex flex-col" ></div>
                                    <button type="button" id="toggle-btn2" appRighttClick >MAC</button>

                                </div>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h3>Minimum</h3></td>
                        <td><h3>Recommended</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>OS</h4>
                <p>{{product.platform}} 7/B</p>
                        </td>
                        <td>
                            <h4>OS</h4>
                            <p>Windows 7/B</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Processor</h4>
                            <p> Dolorum eveniet nostrum alias nisi optio praesentium qui minima atque </p>
                        </td>
                        <td>
                            <h4>Processor</h4>
                            <p> Dolorum eveniet nostrum alias nisi optio praesentium qui minima atque </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Memory</h4>
                            <p>Ram {{product.ram}}G</p>
                        </td>
                        <td>
                            <h4>Memory</h4>
                            <p>Ram 4G</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Graphics</h4>
                            <p>Inter HD 4000, Radeon RS 200</p>
                        </td>
                        <td>
                            <h4>Graphics</h4>
                            <p>Inter HD 4000, Radeon RS 200</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4>Language support</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                 Ab quisquam debitis officia voluptate esse repellat animi nihil.
                                  Hic porro.</p>
                              <p>dicta corrupti at voluptatibus dolor,
                                 laboriosam dignissimos perferendis amet dolorum fugit.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="col-12">
                <table class="table sidebar">
                    <tbody>
                        <tr>
                         <td>Developer </td>
                         <td>{{product.developerName}} </td>
                        </tr>
                        <tr>
                            <td>Publisher </td>
                            <td>Riot Game </td>
                        </tr>
                        <tr>
                            <td>Release Data </td>
                            <td>{{product.releaseDate}} </td>
                        </tr>
                        <tr>
                            <td>Initial Release </td>
                            <td>06/02/20 </td>
                        </tr>
                        <tr>
                            <td>Plat Form </td>
                            <td><i class="bi bi-windows"></i><i class="bi bi-apple"></i> </td>
                        </tr>
                        <tr>
                            <td>Price </td>
                            <td>{{product.price}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="tablebtn">
                             <button  (click)=" addcart(product.productId)" class="btn">ADD TO CART</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="tablebtn">
                             <button (click)=" addToWishlist(product.productId)" class="btn socend">ADD TO wishlist</button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>

        </div>
    </div>
    <ng-template #flaseBlock>
        <div class="row">
            <div class="col-12">
                <h1>Loading . . .</h1>
            </div>
        </div>
    </ng-template>

  </div>

  <app-footer></app-footer>
